{% extends "base.html" %}

{% block content %}

<form action="{% url 'bug:register' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.bug_type.errors }}
        {{ form.bug_type.label_tag }}
        {{ form.bug_type }}
    </div>
    <div class="fieldWrapper">
        {{ form.status.errors }}
        {{ form.status.label_tag }}
        {{ form.status }}
    </div>
    <div class="fieldWrapper">
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
    <div class="fieldWrapper">
        {{ form.report_date.errors }}
        {{ form.report_date.label_tag }}
        {{ form.report_date }}
    </div>
    <input type="submit" value="Register" />
</form>

{% endblock content %}
