<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Capacity Exchange bug app" />
        <title>Bug</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'bug:index' %}">Home</a></li>
                <li><a href="{% url 'bug:register' %}">Register a bug</a></li>
                <li><a href="{% url 'bug:bugs' %}">View all bugs</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock content%}
    </body>
</html>
